div#boardContainer{
    display: grid;
    gap: 1px;
    padding: 10px;
    background-color: black;
}
div#rowContainer{
    display: grid;
    gap: 1px;
    background-color: black;
    height: 106px;
}
span.board-light{
    display: inline-block;
    text-align: left;
    background-color: white;
    border: 1px solid black;
    width: 106px;
    height: 106px;
}
span.board-dark{
    display: inline-block;
    text-align: left;
    color: white;
    background-color: darkgreen;
    border: 1px solid black;
    width: 106px;
    height: 106px;
}
img{
    display: inline;
    border: 0px;
    margin: 0;
    margin-top: -22.5px;
    padding: 0;
    width: 100px;
    height: 100px;
}
